
.footer-section {
  background: #FFFFFF;
    width: 99%;

}

.copyright-area{
  background: #FCFCFC;
  padding: 25px 0;
}

.linksHeader{
  font-size:18px;
  font-weight: bold;
}

.linksSection{
  margin-top: 10px;
}
.leftLinks{
  margin-right:30px;
}

.leftLinks ul{
  padding: 0;
  cursor: pointer;
  color: #666666;
  display: grid;
  gap: 12px 24px;
}

.rightLinks ul{
  padding: 0;
  cursor: pointer;
  color: #666666;
  display: grid;
  gap: 12px 24px;
}
.leftLinks ul li{
  list-style: none;
  text-align: left;
}

.rightLinks ul li{
  list-style: none;
  text-align: left;
}

.copyright-text p {
  text-align: center;
  margin: 0;
  font-size: 14px;
  color: black;
}