.aboutUs{
    position: relative;
    width: 100%;
    background-color: rgb(255, 255, 255);
    background-image: url(../../assets/screens/about-us_hero.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 375px;
}

.textInImg{
    width: 60%;
    padding: 100px 0px 0px 137px;
    color: white;
   }
   .heading{
    margin-right: 0px;
    color: rgb(255, 255, 255);
    line-height: 30px;
    font-size: 40px;
   }

   .description{
    font-size: 18px;
    margin-top: 23px;
    margin-bottom: 17px;
    margin-right: 0px;
    color: rgb(255, 255, 255);
   }
 
.borderClass{
  border-right: 1px solid black;
}

@media screen and (max-width:992px){
    .borderClass{
        border: none;
        margin-bottom: 40px;
    }
}

@media (min-width: 768px) and (max-width: 992px){
    .aboutUs {
        background-image: url(../../assets/screens/about-us_hero.jpg);
        height: 375px;
        overflow: hidden;
    }
    .textInImg{
        width: 60%;
        padding: 50px 40px 0px;
        max-width: 670px;
    }
    .heading{
        line-height: 50px;
    margin-right: 0px;
    }
    .description{
        margin-top: 22px;
    margin-bottom: 26px;
    width: 100%;

    }
}

@media (max-width: 768px){
    .aboutUs {
        background-image: url(../../assets/screens/about-us_hero.jpg);
        height: 320px;
    }
    .textInImg{
        width: 100%;
    padding: 50px 40px 0px;
}
.heading{
    margin-right: 0px;
    line-height: 40px;
    font-size: 30px;
}
.description{
    margin-top: 23px;
    margin-bottom: 23px;
    margin-right: 0px;
}
    }




