
.navigation {
    background-color: #ddd;
  }
  .navigation div{
    display: flex;
    justify-content: center;
  }
  .navigation div > a {
    padding: 10px 15px;
    margin:20px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    text-decoration: none;
  }
  
  .navigation div > a.active {
    background-color: #000;
    color: #fff;
    text-align: center;
  }
  
  .section {
    z-index: 1;
    height: 300px;
    padding: 15px;
    border: 1px solid #ddd;
  }

  .footer {
    height: 400px;
    padding: 15px;
    background-color: #eee;
  }